<!DOCTYPE html>
<html>
<head>
	<title>Student Register</title>
</head>
<body>

	<div>
		<form method="post" action="/student/register">
			<div>
				<label for="username">Username</label>
				<input type="text" name="username">
			</div>
			<div>
				<label for="firstname">Firstname</label>
				<input type="text" name="firstname">
			</div>
			<div>
				<label for="lastname">Lastname</label>
				<input type="text" name="lastname">
			</div>
			<div>
				<label for="email">Email</label>
				<input type="text" name="email">
			</div>

			<div>
				<label for="phone">Phone</label>
				<input type="text" name="phone">
			</div>
			<div>
				<label for="pass">Password</label>
				<input type="text" name="pass">
			</div>
			<div>
				<label for="pass1">Verify password</label>
				<input type="text" name="pass1">
			</div>
			<input type="submit" name="submit">

		</form>
	</div>
	
</body>
</html>